@model IEnumerable<StaffManagement.Models.ViewModels.StaffDetailsViewModel>

@foreach (var staff in Model)
{
    <div role="button" class="list-group-item staff-item p-3" data-staff-id="@staff.StaffId">
        <h6 class="mb-1">@staff.Name</h6>
    </div>
}