<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0 align-content-center">Staff Details</h5>
    </div>
    <div class="card-body">
        <form id="staffDetailsForm">
            <!-- Name -->
            <div class="mb-3 d-flex  align-items-center">
					<label for="staffName" class="form-label me-2 " style="width: 200px;">Name</label>
					<input type="text" class="form-control flex-grow-1" id="staffName" disabled>
            </div>

            <!-- Email -->
            <div class="mb-3 d-flex align-items-center">
                <label for="staffEmail" class="form-label me-2" style="width: 200px;">Email</label>
                <input type="email" class="form-control flex-grow-1" id="staffEmail" disabled>
            </div>

            <!-- Start Date -->
            <div class="mb-3 d-flex align-items-center">
					<label for="endDate" class="form-label me-2" style="width: 200px;">Start Date</label>
					<input type="date" class="form-control flex-grow-1" id="startDate" disabled>
            </div>
            <div class="mb-3 d-flex align-items-center">
                <label for="endDate" class="form-label me-2" style="width: 200px;">End Date</label>
                <input type="date" class="form-control flex-grow-1" id="endDate" disabled>
            </div>

            <!-- Certification Date -->
            <div class="mb-3 d-flex align-items-center">
                <label for="certificationDate" class="form-label me-2" style="width: 200px;">Certification Date</label>
                <input type="date" class="form-control flex-grow-1" id="certificationDate" disabled>
            </div>
        </form>
    </div>
</div>