@model StaffManagement.Models.ViewModels.StaffFilterViewModel
@{
    ViewData["Title"] = "Staff Details";
}

<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="grantDropdown">Grant</label>
                @Html.DropDownListFor(m => m.SelectedGrant,
                         Model.Grants,
                         "Select a Grant",
                         new { @class = "form-select", id = "grantDropdown" })
            </div>
            <div class="col-md-3">
                <label for="staffActiveDropdown">Staff Active</label>
                @Html.DropDownListFor(m => m.IsStaffActive,
                         new List<SelectListItem>
                {
                new SelectListItem { Text = "Yes", Value = "true" },
                new SelectListItem { Text = "No", Value = "false" }
                },
                         "Select Status",
                         new { @class = "form-select", id = "staffActiveDropdown", disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            @await Html.PartialAsync("_StaffList")
        </div>
        <div class="col-md-8">
            @await Html.PartialAsync("_StaffDetails")
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/staff-management.js"></script>
}